
# caches

.mypy_cache/
.ruff_cache/
.pytest_cache/
**pycache**/

# virtual envs

.venv/
venv/

# build artifacts

dist/
build/

# IDE/OS

.vscode/
.idea/
.DS_Store

# local test artifacts (scratch)

out*.txt
stderr*.txt
std*.txt
*.noyaml.md
Meta_waiver_test.yaml
.tmp/
temp/
*.tmp
*.log
/.hdae/tasks/
